<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="../../public/js/main.js"></script>
    <title>Biblioteca Online</title>
</head>
<body>
    <div class="conteiner">
        <header id="cabecalho">
                <h1 class="txt">Biblioteca Online</h1>

                <div id="links">
                    <a href="/cadastrar/index">Cadastrar Livro</a>
                <% if(user) { %>
                    <a href="/login/logout">Sair</a>
                <% }else{ %>
                    <a href="/login">Entrar</a>
                <% }%>

                </div>
                

        </header>
        <%- include('includes/messages') %>
        <main>
            <div id="inputBusca">
                <form action="/busca" method="post">
                    <input type="text" name="busca" id="busca" placeholder="Pequise por livros aqui... " autocomplete="off">
                </form>
                <main>
                    
                </main>
            </div>
        </main>
    </div>
</body>
</html>