<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">
    <script defer src="../../public/js/main.js"></script>
    <title>Biblioteca Online/Login</title>
</head>
<body>
    <div class="conteiner">
        <header id="cabecalho">
             <h1 class="txt">Ola <%= user.email %></h1>
             
            <% if(user) { %>
                <li>
                    <a href="/login/logout">Sair</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/login">Entrar</a>
                </li>
                <% }%>
               
        </header>
        <main>
            <div id="msg">
        
                <p>Voce fez login</p>
            </div>
            
            <%- include('includes/messages') %>

            </section>
        </main>
    </div>
</body>
</html>